{% extends 'app/base.html' %}

{% block container %}
<div class="container">
    <div class="page-header">
        <h1>商圈助力</h1>
    </div>
    <div class="alert alert-info" role="alert">
        <p>商圈助力有每日上限，为 5 次。</p>
        <p>商圈活动分两个时间段 09:00 - 20:00 和 20:00 - 22:00 ，推荐在活动时间段里来互相助力商圈。</p>
    </div>
    <div style="text-align:right; margin-bottom: 9px">
        <span>只加载 </span>
        <div class="btn-group" role="group" aria-label="num">
            {% for i in '12345'|make_list %}
            <button type="button" class="btn btn-default"
                onclick="javascrtpt:window.location.href='{% url 'help_cbd' %}?num={{ i }}'">{{ i }}
            </button>
            {% endfor %}
        </div>
        <span> 条链接</span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>商圈ID</th>
                <th>今日商圈助力次数</th>
                <th>今日商圈被助力次数</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td>{{ user.extension.cbd }}</td>
                <td>{{ user.extension.cbd_help_num }}</td>
                <td>{{ user.extension.cbd_be_helped_num }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align:right">
        <button class="btn btn-primary" data-clipboard-text="{{ url }}">复制所有商圈助力链接</button>
    </div>
    <form class="form-login" action="{% url 'help_cbd' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id_list" value="{{ id_list }}">
        <div class="checkbox">
            <label>
                <input type="checkbox" required="required">我确认已经完成助力了
            </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" type="submit">完成</button>
    </form>
</div>

{% load static %}
<script src="{% static 'app/clipboard.min.js' %}"></script>
<script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function (e) {
        alert('已复制到粘贴板')
        e.clearSelection();
    });
</script>
{% endblock container %}