{% extends 'app/base.html' %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>今日信息</h1>
  </div>
  <div class="alert alert-danger" role="alert">
    <p>故意刷高助力数将会被封禁！</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p>每日助力他人后才会出现在别人的助力列表里，各项助力数据独立计算。</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>个人助力</h2>
      <p class="lead">已助力 {{ user.extension.home_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.home_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_home' %}?num={{ num.0 }}">去助力</a>
    </div>
    {% if help_cbd_url %}
    <div class="col-md-3">
      <h2>商圈助力</h2>
      <p class="lead">已助力 {{ user.extension.cbd_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.cbd_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_cbd' %}?num={{ num.1 }}">去助力</a>
    </div>
    {% endif %}
    {% if help_tm_url %}
    <div class="col-md-3">
      <h2>时光机助力</h2>
      <p class="lead">已助力 {{ user.extension.tm_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.tm_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_tm' %}?num={{ num.2 }}">去助力</a>
    </div>
    {% endif %}
    {% if help_star_url %}
    <div class="col-md-3">
      <h2>星店长助力</h2>
      <p class="lead">已助力 {{ user.extension.star_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.star_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_star' %}">去助力</a>
    </div>
    {% endif %}
  </div>
  <div class="page-header">
    <h1>我的信息</h1>
  </div>
  <div class="alert alert-warning" role="alert">
    <p>各种链接可以通过退出后重新录入进行更新。商圈链接请每日更新一下，过时的链接被助力会显示异常，将会被自动清空。</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><span class="label label-default">我的助力链接</span> {{ help_home_url }}</li>
    <li class="list-group-item"><span class="label label-default">商圈助力链接</span> {{ help_cbd_url }}</li>
    <li class="list-group-item"><span class="label label-default">时光机助力链接</span> {{ help_tm_url }}</li>
    <li class="list-group-item"><span class="label label-default">星店长助力链接</span> {{ help_star_url }}</li>
  </ul>
  <div class="page-header">
    <h1>更新信息</h1>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/5</b></p>
    <p>- 商圈助力需要反馈结果。助力结果异常的商圈链接将被暂时清空。</p>
    <p>&emsp;【成功的结果】助力成功！恭喜你获得助力奖励：6000个金币 (2/2)</p>
    <p>&emsp;【异常的结果】操作成功！挑战已结束，马上就要瓜分红包了|快去看看吧！(1/2)</p>
    <p>- 修复商圈助力次数一直显示为 0。</p>
    <p></p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/4</b></p>
    <p>- 每日优先显示今日已助力的链接；根据已助力数自动选择助力的链接数。</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/3</b></p>
    <p>- 列表中将不会出现今日已助力的链接，防止每日前几名助力时出现重复链接。</p>
    <p>- 支持选择加载链接的数量。</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/2</b></p>
    <p>- 现已支持 <b>时光机助力</b> 和 <b>星店长助力</b>，请点右上角下拉菜单退出，重新登录补全对应链接。</p>
  </div>
</div>
{% endblock container %}