{% extends 'app/base.html' %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>今日信息</h1>
  </div>
  <div class="alert alert-danger" role="alert">
    <p>星店长助力还是有问题，无法有效助力，暂时先关闭了。</p>
  </div>
  {% comment %} <div class="alert alert-danger" role="alert">
    <p>星店长助力链接问题：</p>
    <p>&emsp;星店长助力链接缺少一个参数，请在链接结尾加上 &taskType=7 </p>
    <p>获取星店长助力链接报错：[获取我的星店链接-王霏霏]获取数据失败 </p>
    <p>&emsp;可以尝试按顺序往下换别的名字获取链接，获取成功后，检查链接里 shopId= 后的数字是否是对应的明星店铺ID（7-8日：4 ；9日：5 ；10日：6 ；11日：7）</p>
    <p>以今日7号为例，获取链接“姜潮”，得到的链接里 shopId=4 ，然后在结尾加上 &taskType=7 即可。</p>
  </div> {% endcomment %}
  <div class="alert alert-info" role="alert">
    <p>每日助力他人后才会出现在别人的助力列表里，各项助力数据独立计算。</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>个人助力</h2>
      <p class="lead">已助力 {{ user.extension.home_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.home_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_home' %}?num={{ num.0 }}">去助力</a>
    </div>
    {% if help_cbd_url %}
    <div class="col-md-3">
      <h2>商圈助力</h2>
      <p class="lead">已助力 {{ user.extension.cbd_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.cbd_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_cbd' %}?num={{ num.1 }}">去助力</a>
    </div>
    {% endif %}
    {% if help_tm_url %}
    <div class="col-md-3">
      <h2>时光机助力</h2>
      <p class="lead">已助力 {{ user.extension.tm_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.tm_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_tm' %}?num={{ num.2 }}">去助力</a>
    </div>
    {% endif %}
    {% comment %} {% if help_star_url %}
    <div class="col-md-3">
      <h2>星店长助力</h2>
      <p class="lead">已助力 {{ user.extension.star_help_num }} 次</p>
      <p class="lead">被助力 {{ user.extension.star_be_helped_num }} 次</p>
      <a class="btn btn-primary" href="{% url 'help_star' %}">去助力</a>
    </div>
    {% endif %} {% endcomment %}
  </div>
  <div class="page-header">
    <h1>我的信息</h1>
  </div>
  <div class="alert alert-warning" role="alert">
    <p>各链接可以通过退出后重新录入进行更新。商圈和星店长助力链接被反馈为异常后将被清空，请每日及时更新助力链接。</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><span class="label label-default">我的助力链接</span> {{ help_home_url }}</li>
    <li class="list-group-item"><span class="label label-default">商圈助力链接</span> {{ help_cbd_url }}</li>
    <li class="list-group-item"><span class="label label-default">时光机助力链接</span> {{ help_tm_url }}</li>
    {% comment %} <li class="list-group-item"><span class="label label-default">星店长助力链接</span> {{ help_star_url }}</li>
    {% endcomment %}
  </ul>
  <div class="page-header">
    <h1>更新信息</h1>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/7</b></p>
    <p>- 完善星店长助力反馈。</p>
    <p>&emsp;【成功】操作成功！</p>
    <p>&emsp;【错误链接】操作成功！请求失败，请求参数错误</p>
    <p>&emsp;其他情况待完善...</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/6</b></p>
    <p>- 个人助力需要输入反馈结果。</p>
    <p>&emsp;【成功】助力成功！恭喜你获得助力奖励6000个金币！</p>
    <p>&emsp;【今日已助力过】操作成功！您今天已经帮助过TA啦</p>
    <p>&emsp;【助力达到上限】操作成功！您今天的助力次数已用光|每日助力次数限5次</p>
    <p>- 时光机助力需要输入反馈结果。</p>
    <p>&emsp;【成功】助力成功！</p>
    <p>&emsp;【活动期间已助力过】操作成功！已为此人助力过</p>
    <p>- 星店长助力需要输入反馈结果，反馈显示参数错误的链接将被清空。</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/5</b></p>
    <p>- 商圈助力需要反馈结果。检测到过期的链接将被自动清空。</p>
    <p>&emsp;【成功的结果】助力成功！恭喜你获得助力奖励：6000个金币</p>
    <p>&emsp;【过期的链接】操作成功！挑战已结束，马上就要瓜分红包了|快去看看吧！</p>
    <p>&emsp;【活动时间外】谢谢你！本场挑战已结束|不需要助力啦， 下次再帮帮我吧</p>
    <p>&emsp;【今日已助力过】操作成功！您今天已经帮过TA的商圈啦|明天再来吧~</p>
    <p>&emsp;【被助力达到上限】好友人气爆棚！|明天再来为TA助力吧</p>
    <p>- 修复商圈助力次数一直显示为 0。</p>
    <p></p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/4</b></p>
    <p>- 每日优先显示今日已助力的链接；根据已助力数自动选择助力的链接数。</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/3</b></p>
    <p>- 列表中将不会出现今日已助力的链接，防止每日前几名助力时出现重复链接。</p>
    <p>- 支持选择加载链接的数量。</p>
  </div>
  <div class="alert alert-info" role="alert">
    <p><b>11/2</b></p>
    <p>- 现已支持 <b>时光机助力</b> 和 <b>星店长助力</b>，请点右上角下拉菜单退出，重新登录补全对应链接。</p>
  </div>
</div>
{% endblock container %}